.table-header {
    background-color: var(--color-medium);
    color: var(--color-dark);
}

.btn-edit {
    font-size: 23px;
    font-weight: bold;
    vertical-align: 5px;
    color: var(--color-dark);
}

.track {
    vertical-align: -10px;
}

.page-link {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.page-link:hover {
    color: var(--color-dark);
}

.page-link-selected, .page-link-selected:hover {
    background-color: var(--color-medium);
    color: var(--color-dark);
}
