/* colors: https://www.computerhope.com/htmcolor.htm
           https://encycolorpedia.com/cfdac6
           https://99designs.es/blog/tips/website-color-schemes/
*/

:root {
    --color-lighter: #f1f1f1;
    --color-light: #f5f7f3;
    --color-medium: #7BCCB5;
    --color-dark: #3C565B;
    --color-primary: #95676e;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-light);
}

.link {
    color: #7C565B;  /* TODO */
}

.link:hover {
    color: #3C565B;  /* TODO */
}


.sidebar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 23px;
  color: var(--color-dark);
  display: block;
}

.sidebar a:hover {
  color:  var(--color-lighter);
}

.sidebar img {
  padding: 6px 6px 6px 32px;
  display: block;
  margin-left: 40px;
  margin-top: 20px;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: var(--color-medium);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 240px;
  padding: 1px 16px;
  height: 1000px;
  text-align: left;
}

/* Big screen behaviour */
@media screen and (min-width: 701px) {
  #open-menu, #close-menu {
    display: none;
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {text-align: center;}
  .sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  #open-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #close-menu {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  #menu {display: none;}
  div.content {margin-left: 10px;}
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-select-file {
    background-color: var(--color-light);
    color: var(--color-primary);
    width: 130px;
    border: 2px solid #d0d0d0;
    display: inline-block;
}

.btn-select-file:hover {
    border: 2px solid var(--color-dark);
}

.btn-menu {
  font-size: 23px;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
}

.btn-menu:hover {
    color: var(--color-light);
    border: 2px solid var(--color-light);
}

input[type="file"] {
    display: none;
}

#file-list {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}

ul li {
    font-size: 18px;
    margin-top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f5f7f3;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.spinner-border {
    display: none;
    margin-left: 30px;
    color: var(--color-dark);
}

.map-format {
    height: 400px;
    min-width: 340px;
    max-width: 1200px;
    margin-top: 20px;
}
