/* colors: https://www.computerhope.com/htmcolor.htm
           https://encycolorpedia.com/cfdac6
           https://99designs.es/blog/tips/website-color-schemes/
*/
body {
  font-family: "Lato", sans-serif;
  background-color: #f5f7f3;
}

.link {
    color: #7C565B;
}

.link:hover {
    color: #3C565B;
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7BCCB5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #3C565B;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img {
  padding: 6px 6px 6px 32px;
  display: block;
  margin-left: 40px;
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  margin-top: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-primary {
    background-color: #7C565B;
    border-color: #7C565B;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #3C565B;
    border-color: #3C565B;
}

.btn-select-file {
    background-color: #f5f7f3;
    border-color: #7C565B;
    color: #7C565B;
    width: 130px;
    border: 2px solid #d0d0d0;
    display: inline-block;
}

.btn-select-file:hover {
    border: 2px solid #7C565B;
}


.btn-combine {
    width: 130px;
    margin-top: 30px;
}

input[type="file"] {
    display: none;
}

#file-name, #file-list {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}