/* colors: https://www.computerhope.com/htmcolor.htm
           https://encycolorpedia.com/cfdac6
           https://99designs.es/blog/tips/website-color-schemes/
*/
body {
  font-family: "Lato", sans-serif;
  background-color: #f5f7f3;
}

.link {
    color: #7C565B;
}

.link:hover {
    color: #3C565B;
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7BCCB5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #3C565B;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img {
  padding: 6px 6px 6px 32px;
  display: block;
  margin-left: 40px;
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  margin-top: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-primary {
    background-color: #7C565B;
    border-color: #7C565B;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #3C565B;
    border-color: #3C565B;
}

.btn-select-file {
    background-color: #f5f7f3;
    border-color: #7C565B;
    color: #7C565B;
    width: 130px;
    border: 2px solid #d0d0d0;
    display: inline-block;
}

.btn-select-file:hover {
    border: 2px solid #7C565B;
}


.btn-combine {
    width: 130px;
    margin-top: 30px;
}

input[type="file"] {
    display: none;
}

#file-name, #file-list {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}

ul li {
    font-size: 18px;
    margin-top: 20px;
}

/* The container */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dcdede;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #7BCCB5;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #3C565B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container_checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f5f7f3;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
