{% extends "TrackApp/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'TrackApp/combine_tracks.js' %}"></script>
{% endblock %}

{% block body %}
    <h2>Combine Tracks</h2>
    <div class="container" id="div_alerts_box">
        <div id="div_alert" data-maximum_file_size="{{maximum_file_size}}" data-maximum_files="{{maximum_files}}" data-valid_extensions="{{valid_extensions}}">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {% elif warning %}
                <div class="alert alert-warning" role="alert">
                    {{warning}}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% if not download %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="div_form" class="form-group" style="margin-bottom: 10px; margin-top: 10px">
                    <div id="file-list">
                    </div>

                    <label id="label-select-file-1" class="btn btn-lg btn-select-file">
                        Select gpx
                        <input id="select-file-1" type="file" accept=".gpx" name="document">
                    </label>

                </div>

                <div class="form-group" style="margin-bottom: 10px; margin-top: 10px">
                    <input class="btn btn-lg btn-primary btn-combine" type="submit" id="input_btn_combine" value="Combine" style="margin-bottom: 10px;">
                </div>
            </form>

        {% else %}
            <a href='{{file}}' class="btn btn-lg btn-primary btn-combine">Download</a>
        {% endif %}
    </div>
{% endblock %}