{% extends "TrackApp/layout.html" %}
{% load static %}

{% block title %}
Insert Timestamp
{% endblock %}

{% block style %}
    <link href="{% static 'TrackApp/insert_timestamp.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'TrackApp/libs/ol.js' %}"></script>
    <script src="{% static 'TrackApp/libs/jquery.min.js' %}"></script>
    <script src="{% static 'TrackApp/insert_timestamp.js' %}"></script>
    <script src="{% static 'TrackApp/map.js' %}"></script>
{% endblock %}

{% block body %}
    <h2>Insert Timestamp</h2>
    <div class="container" id="div_alerts_box">
        <div id="div_alert" data-maximum_file_size="{{maximum_file_size}}" data-maximum_speed="{{maximum_speed}}" data-valid_extensions="{{valid_extensions}}">
            {% if error %}
                <div class="alert alert-danger" id="div_error_msg" role="alert">
                    {{error}}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container" id="div_form_container" data-download="{{download}}">
        {% if not download %}
            <form method="post" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                <div id="div_form" class="form-group" style="margin-bottom: 10px; margin-top: 10px; display: inline-block;">

                    <label id="label-select-file-1" class="btn btn-lg btn-select-file">
                        Select gpx
                        <input id="select-file-1" type="file" accept=".gpx" name="document">
                    </label>
                    <span id="file-list" style="display: inline-block; vertical-align: 0px; margin-left: 10px;"></span>

                    <ul id="ul_insert_time" style="list-style-type:none">
                        <li>
                            <label>Activity Start Time</label>
                            <input type="date" id="input_date" name="input_date">
                            <input type="time" id="input_time" name="input_time">
                        </li>

                        <li>
                            <label>Desired Average Speed</label>
                            <input type="number" id="input_desired_speed" name="input_desired_speed" min="0" max="{{maximum_speed}}" size="5"> km/h
                        </li>

                        <li>
                            Use Elevation in Calculating Speed
                            <label class="container_checkbox" style="display: inline-block;  margin-left: 5px; vertical-align: 8px;">
                                <input type="hidden" name="input_elevation_speed" value="False">
                                <input type="checkbox" id="input_elevation_speed" name="input_elevation_speed" value="True">
                                <span class="checkmark" id="span_checkmark"></span>
                            </label>

                        </li>
                    </ul>
                </div>

                <div class="form-group" style="margin-bottom: 10px; margin-top: 10px">
                    <button type="button" class="btn btn-lg btn-primary btn-combine" id="input_btn_insert_timestamp" style="width: 190px; margin-bottom: 10px; display: inline-block; vertical-align: middle;">Insert Timestamp</button>
                    <div class="spinner-border" id="div_spinner" role="status" style="vertical-align: -10px;">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </form>

        {% else %}
            <a href="{{file}}" download class="btn btn-lg btn-primary btn-combine" id="input_btn_download">Download</a>
            {% if user.is_authenticated %}
                <div id="js-map" class="map map-format" data-file="{{file}}"  data-map_center="{{map_center}}" data-map_zoom="{{map_zoom}}" data-lat="{{lat}}" data-lon="{{lon}}"></div>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}
