{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <link href="{% static 'TrackApp/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="sidenav">
            <img src="{% static 'TrackApp/compass.png' %}" alt="compass" width="80">
            <a id="a_combine_tracks" href="combine_tracks">Combine Tracks</a>
            <a id="a_insert_timestamp" href="insert_timestamp">Insert Timestamp</a>
            {% if user.is_authenticated %}
                <a id="a_log_out" href="log_out">Log Out</a>
            {% else %}
                <a id="a_login" href="login">Log In</a>
                <a id="a_register" href="register">Register</a>
            {% endif %}
        </div>

        <div class="container main">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
