{% extends "TrackApp/layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}

    <h2>Login</h2>

    {% if warning %}
        <div id="div_warning_msg" class="alert alert-warning" role="alert">{{ warning }}</div>
    {% endif %}

    {% if error %}
        <div id="div_error_msg" class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <div class="col-8">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group" style="margin-bottom: 10px; margin-top: 10px; max-width: 400px;">
                <input autofocus class="form-control" id="input_txt_username" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group" style="margin-bottom: 10px; margin-top: 10px; max-width: 400px;">
                <input class="form-control" type="password" id="input_txt_password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" id="input_btn_login" value="Login" style="margin-bottom: 10px;">
        </form>
    </div>
    Don't have an account? <a href="{% url 'register' %}" class="link">Register here.</a>

{% endblock %}