{% extends "TrackApp/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group" style="margin-bottom: 10px; margin-top: 10px">
            <input class="form-control" autofocus id="input_txt_username" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-top: 10px">
            <input class="form-control" id="input_txt_email" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-top: 10px">
            <input class="form-control" id="input_txt_password" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group" style="margin-bottom: 10px; margin-top: 10px">
            <input class="form-control" id="input_txt_confirmation" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" id="input_btn_register" type="submit" value="Register" style="margin-bottom: 10px;">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}