{% extends "TrackApp/layout.html" %}
{% load static %}

{% block title %}
Track Editor
{% endblock %}

{% block style %}
    <link href="{% static 'editor/editor.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'editor/editor.js' %}"></script>
    <script src="{% static 'TrackApp/libs/ol.js' %}"></script>
    <script src="{% static 'TrackApp/libs/Sortable.min.js' %}"></script>
    <script src="{% static 'TrackApp/libs/Chart.min.js' %}"></script>
{% endblock %}

{% block body %}
    <h2 contenteditable="true" id="h_session_name">
        {% if title %}
        {{title}}
        {% else %}
        track_name (edit me)
        {% endif %}
    </h2>
    <div class="container" id="div_alerts_box" style="width: 72vh; margin-left: 0px;">
        <div id="div_alert" data-maximum_file_size="{{maximum_file_size}}" data-valid_extensions="{{valid_extensions}}">
                <div class="alert alert-danger" id="div_error_msg" role="alert" style="display: none;">
                </div>
                <div class="alert alert-warning" id="div_warning_msg" role="alert" style="display: none;">
                </div>
        </div>
    </div>

    <!-- Management buttons -->
    <div class="container">
        <button type="button" class="btn btn-secondary" id="btn_save">Save</button>
        <button type="button" class="btn btn-secondary" id="btn_download">Download</button>

        <form method="post" enctype="multipart/form-data" id="form" style="display: inline;">
            {% csrf_token %}
            <label id="label-select-file" class="btn btn-secondary">
                Add track
                <input id="select-file" type="file" accept=".gpx" name="document">
            </label>
        </form>
        <div class="spinner-border" id="div_spinner" role="status" style="display: none; vertical-align: -10px; margin-left: 30px; color: #3C565B">
            <span class="sr-only"></span>
        </div>
    </div>

    <!-- Edition buttons -->
    <div class="container" style="margin-top: 15px;">
        <button type="button" class="btn btn-select-file" id="btn_reverse">Reverse</button>
        <button type="button" class="btn btn-select-file" id="btn_split">Split</button>
        <button type="button" class="btn btn-select-file" id="btn_change_order">Change order</button>
        <button type="button" class="btn btn-select-file" id="btn_summary">Summary</button>
    </div>

    <!-- Summary Table -->
    <div class="container">
        <div id="div_summary_modal" class="modal container">

          <!-- Modal content -->
          <div class="modal-content">
            <span id="close_summary" class="close">&times;</span>
            <div id="div_summary_content"></div>
          </div>

        </div>
    </div>

    <!-- Change segments order -->
    <div class="container">
        <div id="div_change_order_modal" class="modal container">
            <div class="modal-content">
                <span id="close_change_order" class="close">&times;</span>
                <span><h3>Change segments order</h3></span>
                <div id="div_change_order" class="drag"></div>
                <div class="button-area"> <!-- TODO: don't know why but this class cannot be removed in html -->
                    <button type="button" class="btn btn-secondary" id="btn_change_order_ok">Ok</button>
                    <button type="button" class="btn btn-secondary" id="btn_change_order_cancel">Cancel</button>
                    <div class="spinner-border" id="div_spinner_change_order" role="status" style="display: none; vertical-align: -10px; margin-left: 30px; color: #3C565B">
                        <span class="sr-only"></span>
                        <a href="{% url 'editor' index=0 %}" id="a_refresh_editor" style="display: none;"></a>
                    </div>
              </div>
          </div>
        </div>
    </div>
    <script>
        const dragArea = document.querySelector(".drag");
        new Sortable(dragArea, {
            animation: 350
        });
    </script>

    <!-- List of loaded tracks -->
    <div id="div_track_list" class="container" style="margin-top: 15px;" data-track_list="{{track_list}}" data-segment_list="{{segment_list}}">
    </div>

    <!-- Map -->
    <div id="js-map" class="map" style="height: 40vh; width: 72vh; margin-top: 20px;"></div>

    <!-- Elevation profile -->
    <div style="height: 40vh; width: 72vh; margin-top: 20px; margin-right: 20px;">
        <canvas id="js-elevation"></canvas>
    </div>


{% endblock %}